Source: r-cran-brew
Section: gnu-r
Priority: optional
Maintainer: Debian R Packages Maintainers <r-pkg-team@alioth-lists.debian.net>
Uploaders: Andreas Tille <tille@debian.org>
Vcs-Browser: https://salsa.debian.org/r-pkg-team/r-cran-brew
Vcs-Git: https://salsa.debian.org/r-pkg-team/r-cran-brew.git
Homepage: https://cran.r-project.org/package=brew
Standards-Version: 4.6.1
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
               dh-r,
               r-base-dev
Testsuite: autopkgtest-pkg-r

Package: r-cran-brew
Architecture: all
Depends: ${R:Depends},
         ${misc:Depends}
Recommends: ${R:Recommends}
Suggests: ${R:Suggests}
Description: GNU R templating framework for report generation
 The GNU R package brew implements a templating framework for mixing
 text and R code for report generation. brew template syntax is similar
 to PHP, Ruby's erb module, Java Server Pages, and Python's psp module.
